/* Clap button */
.clapBox {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* background-color: #27ae60; */
  /* width: 50%;
  height: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  /* background-color: #2189f8; */
  padding: 10rem 2rem;
  border: 2px solid black;
  border-radius: 2rem;

}

.clap {
    position: relative;
    outline: 1px solid transparent;
    border-radius: 50%;
    border: 1px solid #bdc3c7;
    width: 80px;
    height: 80px;
    background: none;
    user-select: none;
  }
  .clap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50%;
    width: 79px;
    height: 79px;
  }
  .clap:hover {
    cursor: pointer;
    border: 1px solid #27ae60;
    transition: border-color 0.3s ease-in;
  }
  .clap:hover:after {
    animation: shockwave 1s ease-in infinite;
  }
  
  @keyframes shockwave {
    0% {
      transform: scale(1);
      box-shadow: 0 0 2px #27ae60;
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
      box-shadow: 0 0 50px #145b32, inset 0 0 10px #27ae60;
    }
  }
  

  
  /* Clap Info */
  .info {
    position: relative;
    top: 47px;
  }
  