  /* Count */
  .count {
    position: absolute;
    top: -50px;
    left: 20px;
    font-size: 0.8rem;
    color: white;
    background: #27ae60;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
  
  /* Count total */
  .total {
    position: absolute;
    font-size: 0.8rem;
    width: 80px;
    text-align: center;
    left: 0;
    top: -22px;
    color: #bdc3c7;
  }
  
  /* Clap Icon */
  .icon {
    width: 40px;
    fill: none;
    stroke: #27ae60;
    stroke-width: 2px;
  }
  
  .icon.checked {
    fill: #27ae60;
    stroke: #fff;
    stroke-width: 1px;
  }